<!DOCTYPE html>
<html>
<head>
	<title>Landmarks Index</title>
</head>
<body>
	<h1>All Landmarks</h1>
	<ul>
		<% @landmarks.each do |landmark| %>
			<li><%= landmark.name %> - <%=landmark.year_completed%></li>
		<% end %>
	</ul>
</body>
</html>