<!DOCTYPE html>
<html>
<head>
	<title><%=@figure.name%> Page</title>
</head>
<body>
	<h1><%=@figure.name%></h1>
	<h2>Landmarks: </h2>
	<ul>
		<%@figure.landmarks.each do |landmark|%>
			<li><%=landmark.name%></li>
		<%end%>
	</ul>
	<br>
	<h2>Titles: </h2>
	<ul>
		<%@figure.titles.each do |title|%>
			<li><%=title.name%></li>
		<%end%>
	</ul>
</body>
</html>