<!DOCTYPE html>
<html>
<head>
	<title>Create New Title Entry</title>
</head>
<body>
	<form method='POST' action='/titles'>
		<input type="text" name="title[name]">
		<input type="submit" value="Create Title">
	</form>
</body>
</html>